/* importing poppins, inter and manrope fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');

/* common styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --collection-header: #3A3A3A;
    --card-title: #18191F;
    --card-description: #787885;
    --card-rating: #5E6366;
    --btn-primary: #E02C6D;
    --featured-title: #0A0826;
    --featured-description: #6C6C6C;
    --footer-description: #D9DBE1;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
}

.btn-primary{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 10px 24px;
    background-color: var(--btn-primary);
}

/* Hero Styles Starts here */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_title{
    max-width: 582px;
    font-size: 52px;
    font-weight: 700;
    color: var(--collection-header);
}

.hero_description{
    max-width: 505px;
    font-weight: 600;
    margin: 16px 0;
}

.hero button{
    border-radius: 40px;
}

.hero_photo.item-2{
    padding: 15px;
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* Brand Logos Style Starts here */
.logos{
    display: flex;
    gap: 20px 60px;
    flex-wrap: wrap;
    justify-content: center;
}


/*---------------------------------------
---- Collections styles starts here -----
-------------------------------------- */
.collection{
    padding: 0 30px;
}

.collection_header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: var(--collection-header);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    padding: 17px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card img {
    width: 100%;
}

.card_title {
    color: var(--card-title);
    font-weight: 500;
    font-size: 28px;
    margin-top: 16px;
    
}

.card_price {
    font-size: 24px;
    margin: 6px 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
}

.card_rating{
    color: var(--card-rating);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card_description {
    max-width: 196px;
    color: var(--card-description);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.collection_footer{
    font-weight: 700;
    text-align: end;
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
}


/* Featured Styles Starts here*/
.featured{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.featured_title{
    max-width: 610px;
    font-size: 38px;
    font-weight: 700;
    color: var(--featured-title);
}

.featured_description{
    max-width: 501px;
    font-weight: 700;
    margin: 16px 0;
    color: var(--featured-description);
}


/* Footer Styles Starts here */

footer{
    color: white;
    text-align: center;
    padding: 50px 0;
    background-color: #0A0826;
}

.footer_title{
    font-size: 24px;
    font-size: 700;
}

.footer_description{
    font-weight: 700;
    margin: 3px 0;
    color: var(--footer-description);
    font-family: 'Manrope', sans-serif;
}

footer .fa-brands{
    margin: 17px 8px;
}